.img-pequeña{
    height: 266px;
    border-radius:2%;
}

.img-larga{
    height: 266px;
    border-radius:2%;
}

.img-grande{
    height: 560px;
    border-radius:2%;
}

.card{
    border:none;
}

.publi-alargada{
    height: 200px;
}

@media (max-width: 767px) {
    .img-pequeña {
        height:480px;
    }
    .img-grande{
        height:480px;
    }
    .img-larga{
        height: 266px;
    }
    .publi-alargada{
        height: 150px;
    }
}