.img-long {
  height: 266px;
  border-radius: 2%;
}

.img-small {
  height: 266px;
  border-radius: 2%;
}

.img-large {
  height: 560px;
  border-radius: 2%;
}

.img-nota {
  height: 500px;
  border-radius: 2%;
}

.img-gallery {
  height: 120px;
  width: 200px;
}

.card {
  border: none !important;
}

.publi-long {
  height: 250px;
  width: 100%;
}

.publi-small {
  height: 300px;
  width: 100%;
}

.publi-nota {
  width: 100%;
}

@media (max-width: 767px) {
  .img-long {
    height: 350px;
  }

  .img-small {
    height: 480px;
  }

  .img-large {
    height: 480px;
  }

  .img-nota {
    height: 260px;
    border-radius: 2%;
  }

  .publi-long {
    height: 160px;
  }

  .publi-small {
    height: 360px;
  }

  .publi-nota {
    height: 325px;
  }

  .texto-nota iframe{
    width: 450px;
    height: 250px;
  }
}
