.img-long {
  height: 266px;
  border-radius: 2%;
}

.img-small {
  height: 266px;
  border-radius: 2%;
}

.img-large {
  height: 560px;
  border-radius: 2%;
}

.img-nota {
  height: 500px;
  border-radius: 2%;
}

.img-gallery {
  height: 120px;
  width: 200px;
}

.img-category {
  background-color: rgba(0,0,0,0.8);
  background-image: url(../img/nota-ppal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 25vh;
  width: 100%;
  filter:brightness(0.6);
}

.img-list {
  height: 266px;
  border-radius: 2%;
}

.card {
  border: none !important;
}

.publi-long {
  height: 250px;
  width: 100%;
}

.publi-small {
  height: 300px;
  width: 100%;
}

.publi-nota {
  width: 100%;
}

.button-offcanvas {
  position: absolute;
  margin-top: -60px;
  right: 10px;
}

.statistics{
  width: 50% !important;
}

.offcanvas{
  width: 30% !important;
}

.tab-content{
  width: 100% !important;
}

.logo{
  width: 50%;
}

p img {
  width: 100% !important;
}

@media (max-width: 1000px) {
  .statistics{
    width: 70% !important;
  }
}

@media (max-width: 767px) {
  .img-long {
    height: 350px;
  }

  .img-small {
    height: 480px;
  }

  .img-large {
    height: 480px;
  }

  .img-nota {
    height: 260px;
    border-radius: 2%;
  }

  .img-category {
    height: 150px;
    width: 100%;
  }

  .img-list {
    height: 360px;
    border-radius: 2%;
  }

  .publi-long {
    height: 150px;
  }

  .publi-small {
    height: 360px;
  }

  .publi-nota {
    height: 325px;
  }

  .texto-nota iframe{
    width: 450px;
    height: 250px;
  }

  .statistics{
    width: 100% !important;
  }

  .offcanvas{
    width: 50% !important;
  }

  .logo{
    width: 65%;
  }
}

@media (max-width: 500px) {
  td, th{
    padding:.5rem .05rem !important;
    padding-bottom: .01rem !important;
  }

  .img-long {
    height: 250px;
  }

  .img-small {
    height: 400px;
  }

  .img-large {
    height: 400px;
  }

  .img-nota {
    height: 200px;
    border-radius: 2%;
  }

  .img-category {
    height: 100px;
    width: 100%;
  }

  .publi-long {
    height: 100px;
  }

  .publi-small {
    height: 260px;
  }

  .publi-nota {
    height: 260px;
  }

  .texto-nota iframe{
    width: 350px;
    height: 190px;
  }

  .offcanvas{
    width: 60% !important;
  }

  .logo{
    width: 70%;
  }
}

@media (min-width: 450px) and (max-width: 471px) {
  .statistics{
    width: 76% !important;
  }
}

@media (min-width: 405px) and (max-width: 427px) {
  .statistics{
    width: 85% !important;
  }
}

@media (min-width: 427px) and (max-width: 450px) {
  .statistics{
    width: 80% !important;
  }
}

@media (max-width: 440px) {
  .logo{
    width: 80%;
  }
}

@media (max-width: 405px) {
  .statistics{
    width: 88% !important;
  }
}

@media (max-width: 380px) {
  .logo {
    width: 280px;
  }

  .statistics{
    width: 96% !important;
  }

  .logo{
    width: 85%;
  }
}